<!DOCTYPE html>
<html>
  <head>
    <link href="./static/images/folder_file_9761.ico" rel="icon" />
    <title>Information Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="./static/assets/css/main.css" />
    <link rel="stylesheet" href="./static/assets/css/noscript.css" />
    <link rel="stylesheet" href="./static/assets/css/style.css" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <a class="logo">about me</a>
      </header>

      <!-- Nav -->
      <nav id="nav">
        <ul class="links">
          <li><a href="index.html">Project Area</a></li>
          <li class="active"><a href="generic.html">Information page</a></li>
          <li><a href="contact.html">send me a message</a></li>
        </ul>
        <ul class="icons">
          <li>
            <a
              href="https://twitter.com/cruzado92156"
              class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/yadiel.cruzadorodriquez"
              class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/kaponyas/?hl=es-la"
              class="icon brands fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a
              href="https://github.com/YadielCruzado"
              class="icon brands fa-github"
              ><span class="label">GitHub</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- Main -->
      <div id="main">
        <!-- Post -->
        <section class="post">
          <header class="major">
            <h1>
              Yadiel<br />
              Cruzado Rodriguez
            </h1>
            <p>
              I am 20 years old and I am a under graduated computer science
              student.
            </p>
          </header>
        </section>

        <div class="flexbox-container">
          <div class="flexbox-item">
            <h3>Programming<br> languages:</h3>
              <ul>
                <li>C++</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
          </div>
          <div class="flexbox-item">
            <h3>Tools</h3>
              <ul>
                <li>CLion</li>
                <li>PyCharm</li>
                <li>Visual Studio Code</li>
                <li>GitHub</li>
                <li>Terminal</li>
              </ul>
          </div>
        </div>
      </div>  
      
    <!-- Scripts -->
    <script src="./static/assets/js/jquery.min.js"></script>
    <script src="./static/assets/js/jquery.scrollex.min.js"></script>
    <script src="./static/assets/js/jquery.scrolly.min.js"></script>
    <script src="./static/assets/js/browser.min.js"></script>
    <script src="./static/assets/js/breakpoints.min.js"></script>
    <script src="./static/assets/js/util.js"></script>
    <script src="./static/assets/js/main.js"></script>
  </body>
</html>
