nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    max-height: 60px;
    box-shadow: 0 1px 10px rgba(54, 54, 54, 0.18);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
    color: red;
}

.active {
    color: red;
}


.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.name h5{
    margin: 0;
    font-size: 0.75rem;
}
.name div {
    margin: 0;
    font-size: 0.75rem;
}